{% extends "layout.html" %} {% block content %}
<div class="customtable">
  <img src="{{ url_for('static', filename='images/logo.png')}}" />
  <br />
  <h2>Today's Update</h2>
  <div class="tablecontent">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Temperature</th>
          <th>Creation Time</th>
        </tr>
      </thead>
      <tbody>
        {% for entry in entries %}
        <tr>
          <td>{{ entry['id'] }}</td>
          <td>{{ entry['name'] }}</td>
          <td>{{ entry['temperature'] }}</td>
          <td>{{ entry['creation_time'] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</div>
{% endblock %}